{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='my_style.css')}}">
  <script src="https://cdn.tiny.cloud/1/pjb5c1nk0do71sqckykoreyq6l468e239ovnac6ru707gcl1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <body background="{{ url_for('static', filename='PotatoMail_Background.jpg') }}">

{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - Hotato Mail
    {% else %}
        Potato Mail
    {% endif %}
{% endblock %}


{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('login')}}">Potato </a>
            </div>

            {% if current_user.is_authenticated %}
                <div class="nav navbar-nav">

                
                    <li><a href="{{url_for('account') }}">Account</a></li> 
                    <li><a href="{{url_for('logout') }}">Logout</a></li>

                </div>   
            {% endif %}    
                    
               
            
        </div>
    </nav>
{% endblock %}




{% block content %}
    
    

    <div id="wrapper">
    <!-- Sidebar -->
        {% if current_user.is_authenticated %}
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <div style="background-color:#645394;">
            {% block sidenav %}
            {% endblock %}
            </div>
          </ul>
        </div>
        {% endif %} 
    <!-- /#sidebar-wrapper -->
        <div id="container-fluid" style="padding-left:50px;padding-right:50px;width:100%;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {# application content needs to be provided in the app_content block #}
            <div style="background-color:rgba(200, 162, 200, 0.75); color:black; display: block;
            margin-left: auto;
            margin-right: auto;">
            {% block app_content %}
            {% endblock %}
            </div>
        
        </div>
    </div>

{% endblock %}

