<html>
    <head>
    </head>
    <body>
    
        <div style="margin: 50px;text-align: center; font-size: 30px;">
                <a href="{{url_for('test') }}" style="text-decoration:none">Home</a>
                <a href="{{url_for('login') }}"style="text-decoration:none">Login</a>
                <a href="{{url_for('SignUp') }}"style="text-decoration:none">SignUp</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
