{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}





{% block sidenav %}

	<li class="sidebar-brand">
        {{email_account}}    
    </li>

    {% for folder in folders %}
		{% if folder == current_folder %}
	  	<li class="nav-item active">
	   		<a href="{{url_for('inbox')}}{{email_account}}/{{folder}}">{{folder}}</a>
	  	</li>
	  	{% else %}	

	  	<li class="nav-item">
	   		<a href="{{url_for('inbox')}}{{email_account}}/{{folder}}">{{folder}}</a>
	  	</li>
	  	{% endif %}


	{% endfor %}


{% endblock %}




{% block app_content %}
	<h1>Hi, {{ current_user.username}}!</h1>


	<a type="button" id="compose_button" onclick="compose()" style="display:inline;"  class="btn btn-dark btn-lg">
        <span class="glyphicon glyphicon-envelope"></span>
    </a>

    

	<a type="button" id="back_button" onclick="display_email_list()" style="display:none;" class="btn btn-dark btn-lg">
		<span class="glyphicon glyphicon-arrow-left"></span>
	</a>

	<a type="button" id="reply_button" onclick="reply()" style="display:none;" class="btn btn-dark btn-lg">
		<span class="glyphicon glyphicon-share-alt"></span>
	</a>


	<br><br>
	{% if emails|length > 0 %}
	<div class="table-responsive" style="width: 90%;">
		<table id="inbox_outbox"  class="table table-striped table-hover">

		
			{% for email in emails %}

			<tr onclick="expand_email( {{ email.id }} )">
				<td style="width: 10%;">{{ email.sender }}</td>
				<td style="width: 80%;">{{ email.subject }}</td> 
				
			</tr>

			{% endfor %}



		</table>
	</div>
	{% else %}

	<p>No emails here try another box</p>

	{% endif %}

	<div class="table-responsive" style="width: 90%;">

		<table id="email_display" style="display: none;" class="table ">

			<tr>
				<td style="width: 10%"> To: </td>
				<td id="to__" style="width: 80%"> </td>
			</tr>
			<tr>
				<td style="width: 10%"> From: </td>
				<td id="from__" style="width: 80%"> </td>
			</tr>
			<tr>
				<td> Subject: </td>
				<td id="subject"> </td>
			</tr>
			<tr>
				<td> </td>
				<td id="body"></td>
			</tr>

		</table>

	</div>

	<div id="compose_form" style="display:none;" class="form-group float-label-control">

		<form action="" method="post" enctype="multipart/form-data" nonvalidate>
    		{{ form.hidden_tag() }}
    		
        	<div class="form-group float-label-control">

        	{{ wtf.form_field(form.reciever, class='form-control', 

        	placeholder='receiver email',  id = 'compose_to') }}
    		
    		{{ wtf.form_field(form.subject, class='form-control', 
        	placeholder='subject', id = 'compose_subject') }}


    		<p>

    		{{ wtf.form_field(form.message, class='form-control', id = 'compose_body') }}

        	
			</p>
			
			<p>
			
					
			{{ wtf.form_field(form.filename, class='form-control', id = 'add_files')}}


			</p>


    		<p>{{ form.submit() }}</p>


    	</div>	
		</form>
		<!--<form method="POST" action="addfile">
			<p><input type="file" name="file" multiple></p>
		</form> !-->
	</div>



	<script>

	tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
    });

	function expand_email(index) {
		//<!-- Hides table -->
			document.getElementById("inbox_outbox").style.display= "none";
			document.getElementById("compose_form").style.display= "none";
		
		//<!-- expands email -->

		var emails = {{ emails|tojson }}


		for (i = 0; i < emails.length; i++) { 
				if (index == emails[i].id){
					console.log(emails[i].receiver)
					
					document.getElementById("to__").innerHTML  = sanatize_emails(emails[i].receiver);
					document.getElementById("from__").innerHTML  = sanatize_emails(emails[i].sender);
					document.getElementById("subject").innerHTML  = emails[i].subject;
					document.getElementById("body").innerHTML  = "<pre>" + emails[i].body + "</pre>";
				}
		}

		document.getElementById("email_display").style.display = "block";
		document.getElementById("back_button").style.display = "inline";
		document.getElementById("reply_button").style.display = "inline";


	}

	
	function sanatize_emails(s){
		if(s.substring( s.lastIndexOf("<") + 1, s.lastIndexOf(">"))){
			return s.substring( s.lastIndexOf("<") + 1, s.lastIndexOf(">"));
		}
		return s;

		
	}

	function sanatize_emails(s){
		s = s.replace("<", "");
		return s.replace(">", "");
	}

	function display_email_list(){
		document.getElementById("email_display").style.display = "none";
		document.getElementById("back_button").style.display = "none";
		document.getElementById("reply_button").style.display = "none";

		document.getElementById("inbox_outbox").style.display= "block";
		document.getElementById("compose_form").style.display= "none";

	}

	function compose(){
		document.getElementById("email_display").style.display = "none";
		document.getElementById("back_button").style.display = "inline";

		document.getElementById("inbox_outbox").style.display= "none";
		document.getElementById("compose_button").style.display= "inline";

		document.getElementById("compose_form").style.display= "block";



	}

	function reply(){

		document.getElementById("compose_to").value = document.getElementById("from__").innerHTML;

		console.log(document.getElementById("to__").innerHTML) 
		document.getElementById("compose_subject").value = document.getElementById("subject").innerHTML; 
		 
		compose();
	}
	



	</script>

{% endblock %}
